@import './reset.scss';
@import './variables/globals.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

body {
   font: var(--font-m);
   min-height: 100vh;
}

.app {
   &.light {
      background-color: var(--bg-color);
      color: var(--primary-color);
   }

   &.dark {
      background-color: var(--bg-color);
      color: var(--primary-color);
   }
}

.content-page {
   display: flex;
}

.main {
   padding: 20px;
   flex-grow: 1;
}