.button {
   color: inherit;
   padding: 5px 10px;

   &[disabled] {
      opacity: .5;
      pointer-events: none;
   }
}

.outline {
   padding: 10px 15px;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   background: transparent;
}