.ArticlesPage {
   max-width: 70%;
   margin: 0 auto;
}

.ArticlesHeader {
   display: flex;
   width: 100%;
   align-items: center;
}

.horizontalButton {
   margin-left: auto;
   display: flex;
   align-items: center;
}

.tableButton {
   margin-left: 5px;
   display: flex;
   align-items: center;
}

.selected {
   opacity: .6;
}