.Article {
   max-width: 70%;
   margin: 0 auto;
}

.CommentTitle {
   margin-top: 50px;
   font: var(--font-l);
}

.commentSection {
   margin-top: 10px;
}

.recomendationsScroll {
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   display: flex !important;
   flex-wrap: nowrap;
}