.primary {
   color: var(--inverted-primary-color);
}

.secondary {
   color: var(--inverted-secondary-color);

}

.button_like {
   padding: 10px 15px;
   border: 1px solid var(--inverted-primary-color);
   color: var(--inverted-primary-color);
   background: transparent;
}